.about {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.1rem;
  --fontsize-nav: 1.2rem;
  --typing-font: 1.8rem;
}

.condiv {
  overflow-y: scroll;
  width: 67%;
  height: 90%;
  position: absolute;
  top: 4%;
  left: 28%;
  border-radius: 30px;
  line-height: 1;
  padding-left: 10px;
  padding-right: 10px;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(18, 18, 19, 0.288);
}

.condiv>h3 {
  font-size: 1.4rem;
  margin: 30px 0 0 16px;
  color: hsl(222, 14%, 38%);
}

.sk_head {
  position: relative;
}

.sk {
  top: 55%;
  margin: 30px 0 0 30px;
  display: inline-block;
  width: 90px;
  height: 15px;
  font-weight: bolder;
  color: rgba(49, 204, 98, 1);
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(18, 18, 19, 0.288);
}
.p10 {
  font-size: large;
}

.about_name {
  margin: 35px 10px;
  font-size: 2.3rem;
}

.subhead>p {
  font-size: 1.1rem;
  color: #88939b;
}
.subtopic {
  margin: 20px 10px 10px 15px;
  font-size: 1.6rem;
  color: #6c757d;
}

.table {
  margin-bottom: 30px;
}

.p10 > a {
  color: #868f97;
}

@media all and (max-width: 500px) {
  .condiv {
    top: 110%;
    left: 5%;
    width: 84.5%;
    height: 100%;
    margin-bottom: 50px;
  }
  .condiv>h3 {
    font-size: 1.2rem;
    margin: 30px 0 0 16px;
    color: hsl(222, 14%, 38%);
  }
  .sk_head {
    position: relative;
  }
  .sk {
    top: 55%;
    left: 10%;
  }
  .p10 {
    font-size: medium;
  }
  .about_name {
    margin: 35px 10px;
    font-size: 2.0rem;
  }
  .condiv>p {
    font-size: 1.2rem;
    color: #88939b;
  }
  .subtopic {
    margin: 10px 0 0 0 !important;
  }
  .table {
    margin-bottom: 30px;
  }
}